@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Baloo');

.brand,.btn-simple,.h1,.h2,.h3,.h4,.h5,.h6,.navbar,.td-name,a,h1,h2,h3,h4,h5,h6,p,td{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:"Helvetica Neue",Arial,sans-serif}.h1,.h2,.h3,.h4,h1,h2,h3,h4{font-weight:400;margin:30px 0 15px}.h1,h1{font-size:52px}.h2,h2{font-size:36px}.h3,h3{font-size:28px;margin:20px 0 10px}.h4,h4{font-size:22px;line-height:30px}.h5,h5{font-size:18px;margin-bottom:15px}.h6,h6{font-size:14px;font-weight:600;text-transform:uppercase}p{font-size:16px;line-height:1.5}.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{color:#9A9A9A;font-weight:300;line-height:1.5}.btn,.btn-lg{font-weight:400}h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{font-size:60%}.text-primary,.text-primary:hover{color:#3472F7!important}.text-info,.text-info:hover{color:#2CA8FF!important}.text-success,.text-success:hover{color:#05AE0E!important}.text-warning,.text-warning:hover{color:#FF9500!important}.text-danger,.text-danger:hover{color:#FF3B30!important}a{color:#2CA8FF}a:focus,a:hover{color:#109CFF;text-decoration:none}a:active,a:focus,button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner,select::-moz-focus-inner{outline:0}.btn:focus,.btn:hover,.form-control:focus,.navbar-toggle,.ui-slider-handle:focus{outline:0!important}.form-control,.input-group-addon,.navbar,.navbar .alert{-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear}.fa{width:18px;text-align:center}.btn{border-width:2px;background-color:transparent;opacity:.8;filter:alpha(opacity=80);padding:8px 16px;border-color:#888;color:#888}.btn-danger.btn-fill,.btn-info.btn-fill,.btn-neutral.btn-fill,.btn-primary.btn-fill,.btn-success.btn-fill,.btn-warning.btn-fill,.btn.btn-fill,.btn:focus,.btn:hover{opacity:1;filter:alpha(opacity=100)}.btn.active,.btn.active:focus,.btn.active:hover,.btn:active,.btn:active:focus,.btn:active:hover,.btn:focus,.btn:hover,.open>.btn.dropdown-toggle,.open>.btn.dropdown-toggle:focus,.open>.btn.dropdown-toggle:hover{background-color:transparent;color:#777;border-color:#777}.btn.disabled,.btn.disabled.active,.btn.disabled.focus,.btn.disabled:active,.btn.disabled:focus,.btn.disabled:hover,.btn:disabled,.btn:disabled.active,.btn:disabled.focus,.btn:disabled:active,.btn:disabled:focus,.btn:disabled:hover,.btn[disabled],.btn[disabled].active,.btn[disabled].focus,.btn[disabled]:active,.btn[disabled]:focus,.btn[disabled]:hover,fieldset[disabled] .btn,fieldset[disabled] .btn.active,fieldset[disabled] .btn.focus,fieldset[disabled] .btn:active,fieldset[disabled] .btn:focus,fieldset[disabled] .btn:hover{background-color:transparent;border-color:#888}.btn.btn-fill{color:#FFF;background-color:#888}.btn.btn-fill.active,.btn.btn-fill:active,.btn.btn-fill:focus,.btn.btn-fill:hover,.open>.btn.btn-fill.dropdown-toggle{background-color:#777;color:#FFF}.btn.btn-fill .caret{border-top-color:#FFF}.btn .caret{border-top-color:#888}.btn.active,.btn:active,.open>.btn.dropdown-toggle{-webkit-box-shadow:none;box-shadow:none;outline:0!important}.btn-primary{border-color:#3472F7;color:#3472F7}.btn-primary.active,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active,.btn-primary:active:focus,.btn-primary:active:hover,.btn-primary:focus,.btn-primary:hover,.open>.btn-primary.dropdown-toggle,.open>.btn-primary.dropdown-toggle:focus,.open>.btn-primary.dropdown-toggle:hover{background-color:transparent;color:#1D62F0;border-color:#1D62F0}.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary:disabled,.btn-primary:disabled.active,.btn-primary:disabled.focus,.btn-primary:disabled:active,.btn-primary:disabled:focus,.btn-primary:disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:transparent;border-color:#3472F7}.btn-primary.btn-fill{color:#FFF;background-color:#3472F7}.btn-primary.btn-fill.active,.btn-primary.btn-fill:active,.btn-primary.btn-fill:focus,.btn-primary.btn-fill:hover,.open>.btn-primary.btn-fill.dropdown-toggle{background-color:#1D62F0;color:#FFF}.btn-primary.btn-fill .caret{border-top-color:#FFF}.btn-primary .caret{border-top-color:#3472F7}.btn-success{border-color:#05AE0E;color:#05AE0E}.btn-success.active,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active,.btn-success:active:focus,.btn-success:active:hover,.btn-success:focus,.btn-success:hover,.open>.btn-success.dropdown-toggle,.open>.btn-success.dropdown-toggle:focus,.open>.btn-success.dropdown-toggle:hover{background-color:transparent;color:#049F0C;border-color:#049F0C}.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled.focus,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success:disabled,.btn-success:disabled.active,.btn-success:disabled.focus,.btn-success:disabled:active,.btn-success:disabled:focus,.btn-success:disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled].focus,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:transparent;border-color:#05AE0E}.btn-success.btn-fill{color:#FFF;background-color:#05AE0E}.btn-success.btn-fill.active,.btn-success.btn-fill:active,.btn-success.btn-fill:focus,.btn-success.btn-fill:hover,.open>.btn-success.btn-fill.dropdown-toggle{background-color:#049F0C;color:#FFF}.btn-success.btn-fill .caret{border-top-color:#FFF}.btn-success .caret{border-top-color:#05AE0E}.btn-info{border-color:#2CA8FF;color:#2CA8FF}.btn-info.active,.btn-info.active:focus,.btn-info.active:hover,.btn-info:active,.btn-info:active:focus,.btn-info:active:hover,.btn-info:focus,.btn-info:hover,.open>.btn-info.dropdown-toggle,.open>.btn-info.dropdown-toggle:focus,.open>.btn-info.dropdown-toggle:hover{background-color:transparent;color:#109CFF;border-color:#109CFF}.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled.focus,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info:disabled,.btn-info:disabled.active,.btn-info:disabled.focus,.btn-info:disabled:active,.btn-info:disabled:focus,.btn-info:disabled:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled].focus,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover{background-color:transparent;border-color:#2CA8FF}.btn-info.btn-fill{color:#FFF;background-color:#2CA8FF}.btn-info.btn-fill.active,.btn-info.btn-fill:active,.btn-info.btn-fill:focus,.btn-info.btn-fill:hover,.open>.btn-info.btn-fill.dropdown-toggle{background-color:#109CFF;color:#FFF}.btn-info.btn-fill .caret{border-top-color:#FFF}.btn-info .caret{border-top-color:#2CA8FF}.btn-warning{border-color:#FF9500;color:#FF9500}.btn-warning.active,.btn-warning.active:focus,.btn-warning.active:hover,.btn-warning:active,.btn-warning:active:focus,.btn-warning:active:hover,.btn-warning:focus,.btn-warning:hover,.open>.btn-warning.dropdown-toggle,.open>.btn-warning.dropdown-toggle:focus,.open>.btn-warning.dropdown-toggle:hover{background-color:transparent;color:#ED8D00;border-color:#ED8D00}.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled.focus,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning:disabled,.btn-warning:disabled.active,.btn-warning:disabled.focus,.btn-warning:disabled:active,.btn-warning:disabled:focus,.btn-warning:disabled:hover,.btn-warning[disabled],.btn-warning[disabled].active,.btn-warning[disabled].focus,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover{background-color:transparent;border-color:#FF9500}.btn-warning.btn-fill{color:#FFF;background-color:#FF9500}.btn-warning.btn-fill.active,.btn-warning.btn-fill:active,.btn-warning.btn-fill:focus,.btn-warning.btn-fill:hover,.open>.btn-warning.btn-fill.dropdown-toggle{background-color:#ED8D00;color:#FFF}.btn-warning.btn-fill .caret{border-top-color:#FFF}.btn-warning .caret{border-top-color:#FF9500}.btn-danger{border-color:#FF3B30;color:#FF3B30}.btn-danger.active,.btn-danger.active:focus,.btn-danger.active:hover,.btn-danger:active,.btn-danger:active:focus,.btn-danger:active:hover,.btn-danger:focus,.btn-danger:hover,.open>.btn-danger.dropdown-toggle,.open>.btn-danger.dropdown-toggle:focus,.open>.btn-danger.dropdown-toggle:hover{background-color:transparent;color:#EE2D20;border-color:#EE2D20}.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled.focus,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger:disabled,.btn-danger:disabled.active,.btn-danger:disabled.focus,.btn-danger:disabled:active,.btn-danger:disabled:focus,.btn-danger:disabled:hover,.btn-danger[disabled],.btn-danger[disabled].active,.btn-danger[disabled].focus,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{background-color:transparent;border-color:#FF3B30}.btn-danger.btn-fill{color:#FFF;background-color:#FF3B30}.btn-danger.btn-fill.active,.btn-danger.btn-fill:active,.btn-danger.btn-fill:focus,.btn-danger.btn-fill:hover,.open>.btn-danger.btn-fill.dropdown-toggle{background-color:#EE2D20;color:#FFF}.btn-danger.btn-fill .caret{border-top-color:#FFF}.btn-danger .caret{border-top-color:#FF3B30}.btn-neutral{border-color:#FFF;color:#FFF}.btn-neutral.active,.btn-neutral.active:focus,.btn-neutral.active:hover,.btn-neutral:active,.btn-neutral:active:focus,.btn-neutral:active:hover,.btn-neutral:focus,.btn-neutral:hover,.open>.btn-neutral.dropdown-toggle,.open>.btn-neutral.dropdown-toggle:focus,.open>.btn-neutral.dropdown-toggle:hover{background-color:transparent;color:#FFF;border-color:#FFF}.btn-neutral.disabled,.btn-neutral.disabled.active,.btn-neutral.disabled.focus,.btn-neutral.disabled:active,.btn-neutral.disabled:focus,.btn-neutral.disabled:hover,.btn-neutral:disabled,.btn-neutral:disabled.active,.btn-neutral:disabled.focus,.btn-neutral:disabled:active,.btn-neutral:disabled:focus,.btn-neutral:disabled:hover,.btn-neutral[disabled],.btn-neutral[disabled].active,.btn-neutral[disabled].focus,.btn-neutral[disabled]:active,.btn-neutral[disabled]:focus,.btn-neutral[disabled]:hover,fieldset[disabled] .btn-neutral,fieldset[disabled] .btn-neutral.active,fieldset[disabled] .btn-neutral.focus,fieldset[disabled] .btn-neutral:active,fieldset[disabled] .btn-neutral:focus,fieldset[disabled] .btn-neutral:hover{background-color:transparent;border-color:#FFF}.btn-neutral.btn-fill{background-color:#FFF}.btn-neutral.btn-fill.active,.btn-neutral.btn-fill:active,.btn-neutral.btn-fill:focus,.btn-neutral.btn-fill:hover,.open>.btn-neutral.btn-fill.dropdown-toggle{background-color:#FFF;color:#FFF}.btn-neutral .caret,.btn-neutral.btn-fill .caret{border-top-color:#FFF}.btn-neutral.active,.btn-neutral:active,.open>.btn-neutral.dropdown-toggle{background-color:#FFF;color:#888}.btn-neutral.btn-fill,.btn-neutral.btn-fill:focus,.btn-neutral.btn-fill:hover{color:#888}.btn-neutral.btn-simple.active,.btn-neutral.btn-simple:active{background-color:transparent}.btn.disabled,.btn:disabled,.btn[disabled]{opacity:.5;filter:alpha(opacity=50)}.btn-round{border-width:1px;border-radius:30px!important;padding:9px 18px}.btn-simple{border:0;font-size:16px;padding:8px 16px}.btn-lg{font-size:18px;border-radius:6px;padding:14px 30px}.btn-sm,.btn-xs{font-size:12px;border-radius:3px}.btn-lg.btn-round{padding:15px 30px}.btn-lg.btn-simple{padding:16px 30px}.btn-sm{padding:5px 10px}.btn-sm.btn-round{padding:6px 10px}.btn-sm.btn-simple{padding:7px 10px}.btn-xs{padding:1px 5px}.btn-xs.btn-round{padding:2px 5px}.btn-xs.btn-simple{padding:3px 5px}.btn-wd{min-width:140px}.btn-group.select{width:100%}.btn-group.select .btn{text-align:left}.btn-group.select .caret{position:absolute;top:50%;margin-top:-1px;right:8px}.form-control::-moz-placeholder{color:#DDD;opacity:1;filter:alpha(opacity=100)}.form-control:-moz-placeholder{color:#DDD;opacity:1;filter:alpha(opacity=100)}.form-control::-webkit-input-placeholder{color:#DDD;opacity:1;filter:alpha(opacity=100)}.form-control:-ms-input-placeholder{color:#DDD;opacity:1;filter:alpha(opacity=100)}.form-control{background-color:#FFF;border:1px solid #DDD;border-radius:4px;color:#444;padding:8px 16px;height:40px;-webkit-box-shadow:none;box-shadow:none}.form-control:focus{background-color:#FFF;border:1px solid #9A9A9A;-webkit-box-shadow:none;box-shadow:none}.has-error .form-control,.has-error .form-control:focus,.has-success .form-control,.has-success .form-control:focus{border-color:#E3E3E3;-webkit-box-shadow:none;box-shadow:none}.has-success .form-control{color:#05AE0E}.has-error .form-control,.has-error .form-control-feedback{color:#FF3B30}.has-success .form-control:focus{border-color:#05AE0E}.has-error .form-control:focus{border-color:#FF3B30}.form-control+.form-control-feedback{border-radius:6px;font-size:14px;padding:0 12px 0 0;position:absolute;right:25px;top:13px;vertical-align:middle}.open>.form-control{border-radius:4px 4px 0 0;border-bottom-color:transparent}.input-lg{height:55px;padding:14px 30px}.has-success .form-control-feedback{color:#05AE0E}.input-group-addon{background-color:#FFF;border:1px solid #E3E3E3;border-radius:4px;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear}.has-error .input-group-addon,.has-success .input-group-addon{background-color:#FFF;border:1px solid #E3E3E3}.has-error .form-control:focus+.input-group-addon{border-color:#FF3B30;color:#FF3B30}.has-success .form-control:focus+.input-group-addon{border-color:#05AE0E;color:#05AE0E}.form-control:focus+.input-group-addon,.form-control:focus~.input-group-addon{background-color:#FFF;border-color:#9A9A9A}.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){border-right:0 none}.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:last-child>.dropdown-toggle{border-left:0 none}.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{background-color:#E3E3E3;color:#888;cursor:not-allowed}.input-group-btn .btn{border-width:1px;padding:9px 16px}.input-group-btn .btn-default:not(.btn-fill){border-color:#DDD}.input-group-btn:last-child>.btn{margin-left:0}.input-group-focus .input-group-addon{border-color:#9A9A9A}
.checkbox,.radio{margin-bottom:12px;padding-left:32px;position:relative;-webkit-transition:color .25s linear;transition:color .25s linear;font-size:14px;font-weight:400;line-height:1.5;color:#333}.checkbox input,.radio input{outline:0!important;display:none}.checkbox .icons,.radio .icons{color:#DDD;display:block;height:20px;left:0;position:absolute;top:0;width:20px;text-align:center;line-height:21px;font-size:20px;cursor:pointer;-webkit-transition:color .2s linear;transition:color .2s linear}.checkbox .icons .first-icon,.checkbox .icons .second-icon,.radio .icons .first-icon,.radio .icons .second-icon{display:inline-table;position:absolute;left:0;top:0;background-color:transparent;margin:0;opacity:1;filter:alpha(opacity=100)}.checkbox .icons .second-icon,.checkbox:hover .first-icon,.radio .icons .second-icon,.radio:hover .first-icon{opacity:0;filter:alpha(opacity=0)}.checkbox:hover,.radio:hover{-webkit-transition:color .2s linear;transition:color .2s linear}.checkbox:hover .second-icon,.radio:hover .second-icon{opacity:1;filter:alpha(opacity=100)}.checkbox.checked,.radio.checked{color:#2CA8FF}.checkbox.checked .first-icon,.radio.checked .first-icon{opacity:0;filter:alpha(opacity=0)}.checkbox.checked .second-icon,.radio.checked .second-icon{opacity:1;filter:alpha(opacity=100);color:#2CA8FF;-webkit-transition:color .2s linear;transition:color .2s linear}.checkbox.disabled,.radio.disabled{cursor:default;color:#DDD!important}.checkbox.disabled .icons,.radio.disabled .icons{color:#DDD!important}.checkbox.disabled .first-icon,.radio.disabled .first-icon{opacity:1;filter:alpha(opacity=100)}.checkbox.disabled .second-icon,.checkbox.disabled.checked .first-icon,.radio.disabled .second-icon,.radio.disabled.checked .first-icon{opacity:0;filter:alpha(opacity=0)}.checkbox.disabled.checked .icons,.radio.disabled.checked .icons{color:#DDD}.checkbox.disabled.checked .second-icon,.radio.disabled.checked .second-icon{opacity:1;filter:alpha(opacity=100);color:#D9D9D9}

body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

#loader {
    display: block;
    width: 200px;
    text-align: center;
    margin: 40px auto;
}
#loader p {
	font-weight: 700;
}
.loading {
  margin: 20px auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 10px rgba(41, 128, 185,0.2);
  border-top-color: rgba(41, 128, 185,1.0);
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.btn-youtube {
  border-color: #e52d27;
  color: #e52d27;
}
.btn-youtube:hover, .btn-youtube:focus, .btn-youtube:active, .btn-youtube.active, .open > .btn-youtube.dropdown-toggle {
  background-color: transparent;
  color: #e52d27;
  border-color: #e52d27;
  opacity: 1;
}
.btn-youtube:disabled, .btn-youtube[disabled], .btn-youtube.disabled {
  background-color: transparent;
  border-color: #e52d27;
}
.btn-youtube.btn-fill {
  color: #FFFFFF;
  background-color: #e52d27;
  opacity: 0.9;
}
.btn-youtube.btn-fill:hover, .btn-youtube.btn-fill:focus, .btn-youtube.btn-fill:active, .btn-youtube.btn-fill.active, .open > .btn-youtube.btn-fill.dropdown-toggle {
  background-color: #e52d27;
  color: #FFFFFF;
  opacity: 1;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav > li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav > li:before {
    background-color: #314190;
}
.sidebar-nav > li:first-child:before {
	background-color: transparent;
}
.sidebar-nav > li:nth-child(2):before {
    background-color: #ec1b5a;
    width: 100%;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav > .sidebar-brand > a::before {
    content: "\f0c1";
    font-family: FontAwesome;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #fff;
    padding: 5px;
    color: #666;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.sidebar-nav .dropdown-menu li:before {
	background-color: rgba(49, 65, 144, 0.3);
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

@media screen and (min-width: 900px) {
    #wrapper {
        padding-left: 220px;
    }
    #sidebar-wrapper {
        width: 220px;
    }
    .hamburger,
    .overlay {
        display: none !important;
    }
}

.logo {
  font-family: 'Baloo', sans-serif;
}

.navbar-search {
	padding: 10px 15px;
}

.btn-goback {
	display: block;
	width: 130px;
	margin-bottom: 30px;
}

#footer {
	font-weight: 600;
	color: #666;
	margin: 50px 0 0 0;
}

/**
 * Film Page
 */
.film-title {
	margin-top: 0;
}
.film-poster {
	margin-bottom: 30px;
}

/**
 * YouTube Trailer Modal
 */
 body.yt-open {
   overflow: hidden;
 }
 #yt-trailer {
   display: none;
 }
 #yt-trailer.open {
     display: block;
     position: fixed;
     width: 100%;
     height: 100vh;
     top: 0;
     left: 0;
     z-index: 9998;
 }
 #yt-trailer .overlay {
     display: block !important;
     position: absolute;
     width: 100%;
     height: 100vh;
     background-color: rgba(0,0,0,0.7);
 }
 #yt-trailer .modal-dialog {
     display: block;
     position: relative;
     z-index: 9999;
     width: 95%;
 }
 #yt-trailer .modal-dialog .modal-close {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    text-align: right;
    padding: 5px 8px;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    transition: color .2s ease-in-out;
}
#yt-trailer .modal-dialog .modal-close:hover {
  color: #e74c3c;
  cursor: pointer;
}
#yt-trailer .modal-dialog iframe {
  width: 100%;
}


@media screen and (min-width: 768px){
  #yt-trailer .modal-dialog {
    width: 560px;
    margin-top: 100px;
  }
}
